.auctions-view-container {
    max-height: inherit;
    background-color: rgb(15, 15, 16);
    border-radius: 0.375rem;
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    height: 100%;
    overflow: hidden;
    color: goldenrod;
}

.auctions-table-container {
    max-height: 90%;
    overflow-y: scroll;
}

.auctions-table {
    border: 2px solid rgba(245, 243, 243, 0.2);
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-radius: 0.375rem;
}

.auctions-table thead td{
    position: sticky;
    top: 0;
    background-color: rgb(15, 15, 16);
    font-size: 10px;
    font-weight: bold;
    color: rgb(37, 129, 27);
}

.auctions-table td {
    padding: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgb(15, 15, 16);
}

.auctions-table a {
    text-decoration: none;
    color: rgb(134, 173, 51);
}

.auctions-table p {
    margin: 0;
}

.auction-row {
    text-decoration: none;
    color: rgb(233, 151, 36);
}

.auction-row:hover td{
    background-color: #c8e74c;
}

.auction-price::after {
    content: " LE"
}

.auctions-table td:first-child, 
.auctions-table td:nth-child(3),
.auctions-table td:nth-child(5)
{
    width: 80px;
}